@{
    ViewData["Title"] = "Home Page";
}

<div class="login-page">
    <!-- Background for the login page -->
        <form class="login-form">
            <!-- Username Group -->
            <div class="username-group">
                <label for="username" class="username-label">Username</label>
                <div class="input-background">
                    <input type="text" id="username" class="form-control" />
                </div>
            </div>

            <!-- Password Group -->
            <div class="password-group">
                <label for="password" class="password-label">Password</label>
                <div class="input-background">
                    <input type="password" id="password" class="form-control" />
                </div>
            </div>

            <!-- Sign In Button Group -->
            <div class="sign-in-button-group">
                <div class="button-background">
                    <button type="submit" class="sign-in-text">Sign In</button>
                </div>
            </div>
        </form>
</div>